@model IEnumerable<RatingViewCSS.Models.MovieDto>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <h3 class="badge-info text-white">Movie List</h3>
    <table class="table table-active table-bordered" id="moviesTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>Release Date</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mov in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => mov.Id)</td>
                    <td>@Html.DisplayFor(model => mov.Title)</td>
                    <td></td>
                    <td>
                        <span class="heading">User Rating</span>
                        <img src="~/images/EmptyStar.png" alt="Star Rating" align="middle" id="1" class="rating" mid="@mov.Id" width="20" height="18" />
                        <img src="~/images/EmptyStar.png" alt="Star Rating" align="middle" id="2" class="rating" mid="@mov.Id" width="20" height="18" />
                        <img src="~/images/EmptyStar.png" alt="Star Rating" align="middle" id="3" class="rating" mid="@mov.Id" width="20" height="18" />
                        <img src="~/images/EmptyStar.png" alt="Star Rating" align="middle" id="4" class="rating" mid="@mov.Id" width="20" height="18" />
                        <img src="~/images/EmptyStar.png" alt="Star Rating" align="middle" id="5" class="rating" mid="@mov.Id" width="20" height="18" />

                        (Voters: @mov.TotalCount) @{if (mov.TotalCount > 0)
                            {
                                decimal a = @mov.VoteTotal / @mov.TotalCount; <h9>Rating: </h9> <span class="avr">@a</span>
                            } }<br />
                        <div class="result"></div>
                        @{if (mov.TotalCount > 0)
                            {
                                decimal b = @mov.VoteTotal / @mov.TotalCount; <h9>Rating: </h9> <span>Ave Rating: @b Based on @mov.TotalCount</span>
                            }
                        }

                        <hr style="border:5px solid #f1f1f1">

                        <div class="row ml-2">
                            <div class="side">
                                <div><strong>5 star</strong></div>
                            </div>
                            @{ double p5 = @mov.VoteTotal > 0 ? ((double)@mov.FivTotal / (double)@mov.VoteTotal) * 100.0 : 0.0;}
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-5" style="width:@($"{@p5}%");"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div>@p5.ToString("0.00")%</div>
                            </div>
                        </div>
                        
                        <div class="row ml-2">
                            <div class="side">
                                <div><strong>4 star</strong></div>
                            </div>
                            @{ double p4 = @mov.VoteTotal > 0 ? ((double)@mov.FouTotal / (double)@mov.VoteTotal) * 100.0 : 0.0;}
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-4" style="width: @($"{@p4}%");"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div>@p4.ToString("0.00")%</div>
                            </div>
                        </div>
                        
                        <div class="row ml-2">
                            <div class="side">
                                <div><strong>3 star</strong></div>
                            </div>
                            @{ double p3 = @mov.VoteTotal > 0 ? ((double)@mov.ThrTotal / (double)@mov.VoteTotal) * 100.0 : 0.0; }
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-3" style="width: @($"{@p3}%");"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div>@p3.ToString("0.00")%</div>
                            </div>
                        </div>
                        
                        <div class="row ml-2">
                            <div class="side">
                                <div><strong>2 star</strong></div>
                            </div>
                            @{ double p2 = @mov.VoteTotal > 0 ? ((double)@mov.TwoTotal / (double)@mov.VoteTotal) * 100.0 : 0.0;}
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-2" style="width: @($"{@p2}%");"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div>@p2.ToString("0.00")%</div>
                            </div>
                        </div>
                        
                        <div class="row ml-2">
                            <div class="side">
                                <div><strong>1 star</strong></div>
                            </div>
                            @{ double p1 = @mov.VoteTotal > 0 ? ((double)@mov.OneTotal / (double)@mov.VoteTotal) * 100.0 : 0.0;}
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-1" style="width: @($"{@p1}%");"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div>@p1.ToString("0.00")%</div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#moviesTable > tbody  > tr').each(function () {
            var av = $(this).find("span.avr").text();
            if (av != "" || av != null) {
                var img = $(this).find("img[id='" + parseInt(av) + "']");
                img.attr("src", "/images/FilledStar.png").prevAll("img.rating").attr("src", "/images/FilledStar.png");
            }
        });

        $("img.rating").mouseover(function () {
            giveRating($(this), "FilledStar.png");
            $(this).css("cursor", "pointer");
        });

        $("img.rating").mouseout(function () {
            giveRating($(this), "EmptyStar.png");
            refilRating($(this));
        });

        $("img.rating").click(function (e) {
            // $("img.rating").unbind("mouseout mouseover click");
            $(this).css('color', 'green');
            // alert(e.currentTarget + ' was clicked!');
            // call ajax methods to update database
            var url = "/Movie/PostRating?rating=" + parseInt($(this).attr("id")) + "&mid=" + parseInt($(this).attr("mid"));
            $.post(url, null, function (data) {
                $(e.currentTarget).closest('tr').find('div.result').text(data).css('color', 'green') // $("#result").text(data);
            });
        });
    });

    function giveRating(img, image) {
        img.attr("src", "/images/" + image)
            .prevAll("img.rating").attr("src", "/images/" + image);
    }
    function refilRating(img1) {
        var rt = $(img1).closest('tr').find("span.avr").text();
        var img = $(img1).closest('tr').find("img[id='" + parseInt(rt) + "']");
        img.attr("src", "/images/FilledStar.png").prevAll("img.rating").attr("src", "/images/FilledStar.png");
    }


</script>